# Node.js / JavaScript / TypeScript
node_modules/
dist/
build/
*.log
.env*

# Python
__pycache__/
*.pyc
.venv/
venv/
dist/
*.egg-info/

# C++
build/
bin/
obj/
out/
*.o
*.so
*.a
*.exe
*.dll
.idea/ # This is also universal

# Universal
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
